# version: "3.5"

services:
  sk:
    # for live development
    command: sh -c "npx pnpm install && npm run dev -- --host 0.0.0.0"
    expose:
      - 5173
    # labels for traefik reverse proxying. Move to "pb" or "sk" depending where you're doing live development
    labels:
      - traefik.enable=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}.rule=Host(`${HTTP_HOSTNAME}`)
      - traefik.docker.network=traefik_default
    networks:
      - traefik_default
      - default
  # uncomment to enable live development in Go
  # pb:
  #   image: golang:1.22-alpine
  #   command: modd

networks:
  traefik_default:
    external: true
