html {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  body {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    // override max-width water.css
    width: 100%;
    max-width: unset;
    // no horizonal scrollbars
    overflow-x: hidden;
    // override default fonts
    font-family:
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      Fira Sans,
      Droid Sans,
      Helvetica Neue,
      Segoe UI Emoji,
      Apple Color Emoji,
      Noto Color Emoji,
      sans-serif;
  }
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: column;
  &.h {
    flex-direction: row;
  }
}

.bg-diagonal {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #444cf7 0,
    #444cf7 1px,
    #e5e5f7 0,
    #e5e5f7 50%
  );
}

a.button {
  display: inline-block;
  text-decoration: none;
  background-color: var(--button-base);
  color: var(--form-text);
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  padding-right: 30px;
  padding-left: 30px;
}

a.button,
button {
  &.small {
    padding: 0;
    margin: 0 0;
    width: 2.5em;
    height: 2.5em;
  }
  &.round {
    border-radius: 100%;
  }
}

[data-label] {
  position: relative;
  display: flex;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--text-muted);
    content: attr(data-label);
    margin-right: 0.75em;
    font-size: 75%;
    transition: all 0.3s;
  }
  &:focus-within::after {
    font-weight: bold;
  }
}

pre.body {
  white-space: pre-wrap;
}
